<div class="mt-4">
  <form method="post" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="nhập từ khóa"
      />
    </div>
    <button type="submit" class="btn btn-primary">tìm kiếm</button>
  </form>
</div>