<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button>hoc ngay</button>
    </div>
    <div class="col-lg-9">
      <h2>{{course.name}}</h2>
      <img src="{{course.image}}" alt="bug" />
      <p>{{course.description}}</p>
    </div>

  </div>
</div>