.product {
  @include flex(flex-start, flex-start);
  gap: 12px;

  @include mobile {
    flex-direction: column;
  }

  &_image {
    @include flex(flex-start, flex-start);
    // width: 50%;
    width: 40%;
    flex-wrap: wrap;

    @include table {
      width: 80%;
    }

    @include mobile {
      width: 100%;
    }

    &_list {
      width: 82px;

      &_item {
        position: relative;
        cursor: pointer;
        height: 82px;

        &:first-child {
          margin-bottom: 8px;
        }
      }

      &_main {
        flex-grow: 1;
        padding-top: 100%;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &_info {
    flex-grow: 1;
    position: sticky; // xuất theo kiểu fixed nhưng khi lướt hết phần chiều dài của thằng cha thì sẽ biến mất
    top: $header-shrink-height;
    // padding-top: 2rem;
    text-align: left;

    @include mobile {
      position: relative;
      top: unset;
    }

    &_title {
      font-size: 2.5rem;
      font-weight: normal;
    }

    &_item {
      margin-top: 2rem;

      &_price {
        @include flex(center, flex-start);
        color: $main-color;
        font-size: 2rem;
        font-weight: 600;
        gap: 8px;

        del {
          color: $txt-second-color;
          font-size: 1rem;
        }
      }

      &_title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      &_list {
        @include flex(center, flex-start);

        &_item {
          @include flex(center, center);

          &.active {
            border: 3px solid $txt-second-color;
            border-color: $main-color;
          }

          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $txt-second-color;
          cursor: pointer;
          margin-right: 1rem;

          @include mobile {
            width: 40px;
            height: 40px;
          }

          &:hover {
            border-color: $main-color;
          }

          .circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }

          &_size {
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }
      }

      &_quantity {
        @include flex(center, flex-start);
        font-weight: 600 !important;

        &_btn {
          @include flex(center, center);
          width: 40px;
          height: 40px;
          font-size: 1.5rem;
          color: $txt-second-color;
          cursor: pointer;
          border-radius: 10px 0 0 10px;
          border: 2px solid $txt-second-color;
          border-right: none;
        }

        &_btn:nth-child(3) {
          border-radius: 0 10px 10px 0;
          border-left: none;
          border-right: 2px solid $txt-second-color;
        }

        &_input {
          @include flex(center, center);
          height: 40px;
          width: 60px;
          font-size: 1.5rem;
          border-left: none;
          border: 2px solid $txt-second-color;
          border-right: none;
          border-left: none;
        }

        & .stock {
          color: $txt-second-color;
          margin-left: 8px;
        }
      }

      Button {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.product-description {
  width: 100%;
  padding: 2rem 2rem 4rem;
  // height: fit-content;
  height: 200px;
  overflow: hidden;
  position: relative;

  @include mobile {
    display: none;
  }

  &.mobile {
    display: none;

    @include mobile {
      display: block;
    }
  }

  &.expand {
    height: max-content;
  }

  &_title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
  }

  &_content {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: justify;
  }

  &_toggle {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

    // background for dark mode
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }
}

.product-rating {
  @include flex(flex-start, flex-start);
  gap: 8px;
  color: var(--main-color);

  &__main {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 8px;
  }

  &__time {
    opacity: 0.5;
  }
}

// ? code cho phan image zoom o day
.img-zoom-container {
  display: flex;
  margin-left: 10px;
  flex: 1;
  position: relative;

  #myimage {
    width: 95%;
    height: 432px;

    @include table {
      height: 100%;
    }
  }

  .img-zoom-lens {
    position: absolute;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
  }

  .img-zoom-lens:hover~#myresult {
    transform: scale(1);
  }

  .img-zoom-lens:hover {
    border: 1px solid black;
  }

  .img-zoom-result {
    border: 1px solid black;
    /*set the size of the result div:*/
    left: 40%;
    width: 54%;
    height: 60%;
    position: fixed;
    transform: scale(0);
    z-index: 99;
    top: 20%;
  }
}