// /!\ IMPORTANT: this variable precises the number of slides contained in the slider.
// if you add/remove images, make sure that this variable is up to date so the buttons,
// the disposition of elements and the animations work correctly.
$nb-slides: 5;

// THE BASICSnav
.line {
  width: 100%;
}

.carousel-wrapper {
  @include flex(center, center);
  position: relative;
  margin: 50px;

  input {
    display: none;
  }

  @include mobile{
    margin: 0;
  }
}

// CAROUSEL / SLIDER
.carousel {
  @extend .line;
  overflow: hidden;
  border-radius: 15px;

  ul {
    @include flex(center, center);
    position: relative;
    list-style: none;
    overflow: hidden;

    margin: 0;
    padding: 0;
    height: 400px;
    width: calc(100% * $nb-slides);

    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);

    @include table{
      height: 300px;
    }

    @include mobile{
      height: 200px;
    }
  }

  li {
    @extend .line;
    position: relative;

    // span {
    //   @extend .line;
    //   border-radius: 15px;
    // }
  }
}

// NAVIGATION DOTS
.nav-dot {
  $dot-size: 15px;
  position: absolute;
  cursor: pointer;

  // margin-left: -$dot-size / 2;
  margin-left: calc(-15px / -2);
  // bottom: -$dot-size * 1.5;
  bottom: calc(-15px * -1.5);
  width: $dot-size;
  height: $dot-size;

  opacity: 0.5;
  background-color: $main-color;
  border-radius: 50%;
  transition: 0.4s;

  &:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

// goes from 1 to 5.
@for $n from 1 through $nb-slides {

  // arranges the navigation dots horizontally
  .nav-dot[for="slide#{$n}"] {
    left: 50% + ((($n - 1) - calc(($nb-slides - 1) / 2)) * 5%);
  }

  #slide#{$n}:checked {

    // moves the carousel to the right slide
    &~.carousel ul {
      left: -100% * ($n - 1);

      li {
        height: inherit;
      }
    }

    // highlights the selected navigation dot
    &~.nav-dot[for="slide#{$n}"] {
      opacity: 1;
    }
  }
}

// ARROWS
%arrow {
  $arrow-size: 50px;
  display: none; // hidden by default
  position: absolute;

  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 7.5px rgba($color: black, $alpha: 0.7);

  top: 50%;
  z-index: 1;
  opacity: 0.7;
  height: fit-content;
  color: #bfcacf;
  font-size: $arrow-size;
  transform: translateY(-50%);
  transition: 0.2s;

  &:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.left-arrow {
  @extend %arrow;
  left: 15px;
  filter: 0 2.5px rgba(0, 0, 0, 0.25)
}

.right-arrow {
  @extend %arrow;
  right: 15px;
  filter: 0 2.5px rgba(0, 0, 0, 0.25)
}

@function custom-modulo($n) {
  // this function returns '$n % $nb-slides', except that if the result is 0,
  // '$nb-slides' is returned.
  // for exemple, for $nb-slides = 4, possible values are {1, 2, 3, 4}
  // (and not {0, 1, 2, 3}).
  @return 1+($nb-slides + (($n - 1) % $nb-slides)) % $nb-slides;
}

@for $n from 1 through $nb-slides {
  // when the nth slide is selected,
  // displays the left-arrow that goes to the (n-1)th slide
  // and the right arrow that goes to the (n+1)th slide.
  // don't worry, it loops thanks to the 'custom-modulo' function !

  #slide#{$n}:checked {

    &~.left-arrow[for="slide#{custom-modulo($n - 1)}"],
    &~.right-arrow[for="slide#{custom-modulo($n + 1)}"] {
      display: inherit;
    }
  }
}

.signature {
  margin-top: 100px;
  bottom: 0;
  font-family: "Quicksand";
  color: rgba(150, 150, 170, 0);
  text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);

  .name {
    color: white;
  }

  .dot {
    margin: 0 5px;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}