<div class="mt-4">
  <h3>Thêm khóa học</h3>
  <form method="post" action="/courses/store">
    <div class="form-group">
      <label for="exampleInputEmail1">Tên</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="nhập từ khóa"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mô tả</label>
      <input
        type="text"
        name="description"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="nhập từ khóa"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Video Id</label>
      <input
        type="text"
        name="videoId"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="nhập từ khóa"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Trình độ</label>
      <input
        type="text"
        name="level"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="nhập từ khóa"
      />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>