//import font Roboto
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
//import font M Plus Rounded 1c
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Open+Sans+Condensed:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  // user-select: none;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;

  @include mobile {
    font-size: 11px;
  }
}

html,
body,
#root,
.app,
.content2 {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;

  & .content {
    flex-direction: column;
  }
}

body {
  font-family: "Roboto", sans-serif !important;
  background-color: var(--main-bg);
  color: var(--main-color);
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

a:hover {
  color: $main-color;
}

@each $color,
$val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include table {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0 60px 0 50px;
  margin: auto;

  @include table {
    padding: 0 30px 0 20px;
  }

  @include mobile {
    padding: 0 20px 0 10px;
  }
}

.main {
  margin-top: $header-height;
  margin-bottom: 2rem;
  min-height: 100vh;

  @include table {
    margin-top: calc(#{$header-tablet-height} + 20px);
  }

  @include mobile {
    margin-top: calc(#{$header-mobile-height} + 10px);
  }
}

.grid {
  display: grid;
}

//? Custom progress-bar
::-webkit-scrollbar {
  display: none;
  // opacity: 1;
  // width: 10px;
  // background: blue;
  // pointer-events: none;
}

#scrollPath {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 999;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  z-index: 999;
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}